.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 102.4rem;

  font-size: 1.2rem;

  &__copyright {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
}
