.hero {
  display: grid;
  place-content: center;

  &__list {
    margin: 2rem 0 5rem 0;
    min-width: 102.4rem;

    display: flex;
    gap: 4rem;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 2rem;

    &.active {
      border: 1px solid $clr-white;
      padding: 1rem;
      border-radius: 2rem;
    }
  }

  // &__list-icon {
  //   margin-right: 2rem;
  // }

  // &__title {}

  &__desc {
    margin: 2rem 0;
  }

  &__btn {
    cursor: pointer;
    border: none;
    padding: 1rem;
  }
}
