.searchBox {
  border: 3px solid $clr-yellow;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 102.4rem;
  padding: 1rem 0;

  position: absolute;
  bottom: -2.5rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  &__input {
    border: none;
    outline: none;
  }

  &__text {
    cursor: pointer;
    color: lightgrey;
  }

  &__icon {
    color: lightgrey;
  }

  &__btn {
    cursor: pointer;
    border: none;
    padding: 1rem;
  }

  &__date {
    position: absolute;
    top: 5rem;
  }
}

.option {
  position: absolute;
  top: 5rem;
  background-color: $clr-white;
  color: grey;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.4);

  &__counter {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: $clr-black;
    font-size: 1.2rem;
  }

  &__item {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  &__btn {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $clr-blue-200;
    height: 3rem;
    width: 3rem;

    color: $clr-blue-200;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
