// * COLOR

// * ---BACKGROUNDS

.u-bg-blue {
  background-color: $clr-blue;
}

.u-bg-blue-200 {
  background-color: $clr-blue-200;
}

// .u-bg-primary-300 {
//   background-color: $color-primary-300;
// }

.u-bg-white {
  background-color: $clr-white;
}

// * ---TEXT

.u-text-black {
  color: $clr-black;
}

.u-text-black-800 {
  color: $clr-black-800;
}

.u-text-white {
  color: $clr-white;
}

.u-text-white-50 {
  color: $clr-white-50;
}

.u-text-white-200 {
  color: $clr-white-200;
}

// .u-text-color-secondary-300 {
//   color: $color-secondary-300;
// }

// .u-text-color-secondary-350 {
//   color: $color-secondary-350;
// }

// .u-text-primary-50 {
//   color: $color-primary-50;
// }

// .u-text-span {
//   color: $color-primary-200;
// }
