.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 102.4rem;
}

// .section {
//   padding: 1.5rem;
//   min-width: 100%;

//   @include respond(desktop) {
//     padding: 4rem;
//   }
// }
