.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  // height: 100%;
  width: 100%;
  max-width: 102.4rem;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  // @include respond(desktop) {
  //   max-width: 120rem;
  //   margin: 8rem auto;
  // }
}

// .section {
//   padding: 1.5rem;
//   min-width: 100%;

//   @include respond(desktop) {
//     padding: 4rem;
//   }
// }
