.searchBox {
  border: 3px solid $clr-yellow;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 102.4rem;
  padding: 1rem 0;

  position: absolute;
  bottom: -2.5rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  &__input {
    border: none;
    outline: none;
  }

  &__text {
    cursor: pointer;
    color: lightgrey;
  }

  &__icon {
    color: lightgrey;
  }

  &__btn {
    cursor: pointer;
    border: none;
    padding: 1rem;
  }
}
